@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
  @apply outline-none focus:ring-0 ring-0 focus:outline-none;
}

html {
  font-family: "Geist", sans-serif;
  @apply bg-white text-neutral-800 dark:bg-neutral-900 dark:text-neutral-50;
}

p {
  @apply mb-2;
}

h1 {
  @apply font-[600];
  line-height: 1.2;
}

article {
  @apply text-[18px] lg:my-8;
  a {
    @apply transition duration-300 cursor-pointer hover:text-indigo-500 border-indigo-500 dark:hover:text-white font-[600] border-b-2 pb-[0.5px];
  }
  h1, h2, h3, h4, h5 {
    @apply font-[600] lg:my-8;
  }
  h1 {
    @apply text-[24px] md:text-[32px] lg:text-[40px] mt-0 mb-8;
  }
  h2 {
    @apply text-[20px] lg:text-[24px];
  }
  h3 {
    @apply text-[20px];
  }
  h4 {
    @apply text-[16px] lg:text-[18px];
  }
  p {
    @apply my-4;
  }
  ul {
    @apply list-disc list-inside;
  }
  li {
    @apply my-1;
  }
  hr {
    @apply my-8 border-neutral-300 dark:border-neutral-800;
  }
  li code, p code {
    @apply text-base text-indigo-500 bg-indigo-50 dark:text-indigo-500 dark:bg-indigo-950 rounded px-1;
  }
  pre {
    @apply my-4 py-4 px-6 rounded-lg overflow-hidden;
  }
}


header {
  @apply bg-white dark:bg-neutral-900 border-neutral-300 dark:border-neutral-800;
}

aside {
  @apply bg-white dark:bg-neutral-900 border-r border-neutral-300 dark:border-neutral-800;
}