---
import AnalyticsComponent from "../components/Analytics.astro"
import AnalyticsLayout from '../layouts/AnalyticsLayout.astro';
---

<AnalyticsLayout>
    <article>
        <h1>Analytics</h1>
        <AnalyticsComponent />
    </article>
</AnalyticsLayout>