---
import DarkMode from './DarkMode.astro';
---
<header class="fixed h-16 flex items-center justify-between w-full z-10 px-4 border-b">
  <a href="/" class="text-inherit no-underline">
    <h1 class="mb-0 text-[24px]">Astro SEO Directory Template</h1>
  </a>
  <nav>
    <DarkMode />
  </nav>
</header>
